version: "3.9"

services:
  backend:
    image: niroz14/devops-backend:latest
    container_name: employee-backend
    ports:
      - "8080:8080"
    networks:
      - app-network
    restart: always

  frontend:
    image: niroz14/devops-frontend:latest
    container_name: employee-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge