- name: Deploy app using Docker Compose
  hosts: web
  become: true

  tasks:
    - name: Install required packages
      apt:
        name:
          - docker.io
          - docker-compose
        state: present
        update_cache: yes

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Copy docker-compose.prod.yml
      copy:
        src: docker-compose.prod.yml
        dest: /home/ubuntu/docker-compose.prod.yml
        owner: ubuntu
        group: ubuntu

    - name: Pull latest Docker images
      shell: docker-compose -f docker-compose.prod.yml pull
      args:
        chdir: /home/ubuntu

    - name: Restart containers
      shell: docker-compose -f docker-compose.prod.yml up -d
      args:
        chdir: /home/ubuntu